#Files or patterns that should be ignored by Git

#General ignore for editor files
*#
*~
*.iml

#Data files
*.adjmap
*.record
/logs/erlang_exec_time.txt
/logs

#Erlang specific files
*.beam
erl_crash.dump
/Erlang/ebin/
/Erlang/doc/

#Java files
*.class
/Java/bin/
/Java/doc/
